@import 'variables';

.PB-Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1006;
  transition: 0.5s;

  &.modal-enter {
    opacity: 0;

    .PB-Modal-Content {
      top: 100%;
      opacity: 0;
    }
  }

  &.modal-enter-active {
    opacity: 1;

    .PB-Modal-Content {
      top: 10%;
      opacity: 1;
    }
  }

  &.modal-exit {
    opacity: 1;
  }

  &.modal-exit-active {
    opacity: 0;
  }
}

.PB-Modal-Overlay {
  background-color: rgba($color: #000000, $alpha: 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.PB-Modal-Content {
  z-index: 1;
  transition: top 0.4s ease 0.2s, opacity 0.3s ease 0.3s;
  background-color: $modal;
  min-width: 50%;
  max-width: 100%;
  width: 1000px;
  margin: 0 15px;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
}

.PB-Modal-Header {
  padding: 15px 0;
  margin: 0 15px;
  border-bottom: 1px solid $modal-border;
  display: flex;
  align-items: center;

  h2 {
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: bold;
  }

  .PB-Modal-Close {
    line-height: 0;
    margin-left: auto; //
    svg {
      font-size: 36px;
      color: $main;
    }
  }
}

.PB-Modal-Body {
  padding: 15px;
}
