@import 'variables';
@import 'mixins';

.PB-Fixed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.PB-Toolbar-Container {
  z-index: 1000;
}

.PB-Toolbar-Items {
  display: flex;
  flex-direction: column;
  padding: 0;
}


@mixin toolbarBorder {
  &::after {
    content: '';
    display: inline-block;
    width: 2px;
    background-color: $main-hover;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.45);
  }
}

.PB-Toolbar {
  background-color: $main;
  height: 100%;
  z-index: 2;
  position: relative;
  @include toolbarBorder();
}

.PB-Toolbar-Tray {
  left: -100%;
  width: $toolbar-tray-width;
  background-color: $main;
  transition: 0.3s left;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.45);
  color: white;

  &.PB-Active {
    left: 100%;
  }
}

.PB-Toolbar-Item {
  @include fullStyle(".PB-Toolbar-Link") {
    color: white;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: $toolbar-item-width;
    height: $toolbar-item-width;
    cursor: pointer;

    svg {
      font-size: $toolbar-item-icon-size;
    }

    &.PB-Active {
      background-color: $main-hover;
    }
  }
}

.PB-Toolbar-Link:hover {
  background-color: $main-hover;
  color: white;
}

// Paragraph
.PB-ParagraphType-Item {
  padding: 22px;
  user-select: none;
  cursor: grab;

  &:hover {
    background-color: $main-hover;
  }

  img {
    width: 100%;
  }
}

// RTL
html[dir='rtl'] {
  .PB-Fixed {
    left: auto;
    right: 0;
  }

  .PB-Toolbar-Tray {
    left: auto;
    right: -100%;
  }
}
